<!DOCTYPE html>
<html>
  <body>
    <%= render partial: 'plug_in/navigation' %>
    <div class='form-check'>
      <%= form_for @item, url: item_index_path do |f| %>

        <% if @item.errors.any? %>
          <% @item.errors.each do |error| %>
            <div class='alert alert-danger mb-1'>
              <%= error.message %><br>
            </div>
          <% end %>
        <% end %>

        <div class='mb-1'>
          <%= f.label :'Название товара' %>
        </div>
        <div class='mb-2'>
          <%= f.text_field :name %>
        </div>

        <div class='mb-1'>
          <%= f.label :'Категория товара:' %>
        </div>
        <div class='mb-2'>
          <%= f.select :kind, ['', 'Для дома', 'Для сада', 'Для животных'] %>
        </div>
        
        <div class='mb-1'>
          <%= f.label :'Описание товара' %>
        </div>
        <div class='mb-2'>
          <%= f.text_area  :description %>
        </div>
        
        <div class='mb-1'>
          <%= f.label :'Цена' %>
        </div>
        <div class='mb-2'>
          <%= f.text_field :price, placeholder: '0.0' %>
        </div>
        
        <div class='mb-1'>
          <%= f.label :'Время доставки (в днях)' %>
        </div>
        <div class='mb-2'>  
          <%= f.text_field :delivery_time %>
        </div>

        <div class='mb-1'>
          <%= f.label :'Фото товара' %>
        </div>
        <div class='mb-3'>
          <%= f.file_field :avatar %>
        </div>

        <%= f.hidden_field :user_id, { :value => @user.id } %>
          
        <%= f.submit 'Подтвердить', class: 'btn btn-primary' %>
    
      <% end %>
    </div>

  </body>
</html>