<!DOCTYPE html>
<html>
  <body>
    
    <div class='show-item-form'>

      <h1 class='show-item-section'>
        <%= @item.name %>
      </h1>

      <div class='show-item-section'>
        <% if @item.avatar.attached? %>
          <div class='show-item avatar'>
            <%= image_tag @item.avatar, width: '250px' %>
            <hr>
          </div>
        <% end %>
      </div>
      
      <div class='show-item-section'>
        <div class='show-item'>
          Цена товара: <i><%= @item.price.round(2) %> руб.</i>
        </div>
      </div>

      <div class='show-item-section'>
        <div class='show-item'>
          Описание товара:
        </div>
        <div class='show-item description'>
          <%= @item.description %>
        </div>
      </div>

      <div class='show-item-section'>
        <div class='show-item'>
          Категория товара: <i><%= @item.kind %></i>
        </div>
      </div>

      <div class='show-item-section'>
        <div class='show-item'>
          Время доставки: <i><%= @item.delivery_time %> дней</i>
        </div>
      </div>

      <% if @user %>
        <div class='show-item-section'>
          <% unless item_rates? %>
            <div class='show-item'>
              Оценить товар:
              <b class='show-item-rate'>
                <% ItemRate::RATING.reverse_each do |rating| %>
                  <%= link_to "&#10031;".html_safe, store_item_item_rate_index_path(@item, item_rating: rating), method: :post, class: ".show-item rate s#{rating}" %>
                <% end %>
              </b>
            </div>
          <% else %>
            <div class='show-item'>
              Вы поcтавили товару оценку: <i><%= item_rates %></i>
            </div> 
          <% end %>
        </div>
      
        <div class='show-item-section'>  
          <div class='show-item'>
            Количество пользователей оценило товар: <i><%= votes_count %></i>
          </div>
        </div>

      <% end %>
    </div>
      
  </body>
</html>