<!DOCTYPE html>
<html>
  <body>

    <div class='new-edit-item-form'>
      <%= form_for @item, url: 'new?' do |f| %>
        
        <div class='new-edit-item heading'>
          <%= t('items.new.chapter_name') %>
        </div>

        <div class='new-edit-item-section'>
          <%= f.label t('items.new.item_name') %>*
          <div class='new-edit-item danger'>
            <%= @item.errors.messages[:name][0] if @item.errors.any? %>
          </div>
          <div class='new-edit-item field'>
            <%= f.text_field :name %>
          </div>
        </div>

        <div class='new-edit-item-section'>
          <%= f.label t('items.new.category') %>*
          <div class='new-edit-item danger'>
            <%= @item.errors.messages[:kind][0] if @item.errors.any? %>
          </div>
          <div class='new-edit-item field'>
            <%= f.select :kind, ['', t('items.categories.for_home'), t('items.categories.for_garden'), t('items.categories.for_animals')] %>
          </div>
        </div>
        
        <div class='new-edit-item-section'>
          <%= f.label t('items.new.item_desc') %>*
          <div class='new-edit-item danger'>
            <%= @item.errors.messages[:description][0] if @item.errors.any? %>
          </div>
          <div class='new-edit-item field'> 
            <%= f.text_area :description %>
          </div>
        </div>
        
        <div class='new-edit-item-section'>
          <%= f.label t('items.new.price') %>*
          <div class='new-edit-item danger'>
            <%= @item.errors.messages[:price][0] if @item.errors.any? %>
          </div>
          <div class='new-edit-item field'> 
            <%= f.text_field :price, placeholder: '0.0' %>
          </div>
        </div>
        
        <div class='new-edit-item-section'>
          <%= f.label t('items.new.delivery_time') %>*
          <div class='new-edit-item danger'>
            <%= @item.errors.messages[:delivery_time][0] if @item.errors.any? %>
          </div>
          <div class='new-edit-item field'>  
            <%= f.text_field :delivery_time %>
          </div>
        </div>

        <div class='new-edit-item-section'>
            <%= f.label t('items.new.item_photo') %>
          <div class='new-edit-item avatar'>
            <%= f.file_field :avatar %>
          </div>
        </div>

        <%= f.hidden_field :user_id, { :value => @user.id } %>
        
        <div class='new-edit-item btn'>
          <%= f.submit t('items.new.add_item_to_store') %>
        </div>

      <% end %>
    </div>
  
  </body>
</html>