<!DOCTYPE html>
<html>
  <body>
    
    <div class='shopcart'>

      <div class='cart-heading'>
        Корзина товаров:
      </div>
      
      <% @cart_orders.each do |order| %>

        <div class='items'>
          
          <div class='cart item-name'>
            <%= link_to order.item.name, store_item_path(order.item) %>
          </div>

          <div class='cart item-avatar'>
            <% if order.item.avatar.attached? %>
              <%= image_tag order.item.avatar, width: '120px' %>
              <hr>
            <% end %>
          </div>

          <div class='cart item-quantity'>
            Количество товаров: <i><%= order.quantity %></i>
          </div>

          <div class='cart item-rating'>
            Рейтинг товара: <i><%= total_item_rating(order.item) %></i>
          </div>

          <div class='cart delete-item'>
            <%= button_to '', shopcart_path(order), method: :delete %>
          </div>

        </div>

      <% end %>

    </div>

  </body>
</html>