<!DOCTYPE html>
<html>
  <body>
    <%= render partial: 'plug_in/navigation' %>
    Корзина товаров:
      <% @cart_orders.each do |order| %>

        <h4><%= link_to order.item.name, market_item_path(order.item) %></h4>

        <% if order.item.avatar.attached? %>
          <%= image_tag order.item.avatar, width: '120px' %><br>
        <% end %>

        <b>
          Количество товаров: 
        </b>
        <%= order.quantity %><br>
        
        <b>
          Рейтинг товара: 
        </b>
        <%= total_item_rating(order.item) %><br>

        <%= link_to 'Удалить товар из корзины', shopcart_path(order), method: :delete %>

      <% end %>
  </body>
</html>