<!DOCTYPE html>
<html>
  <body>

    <div class='store'>

      <div class='add-item'>
        <% if can? :create, :item %>
          <%= button_to t('store.add_item'), store_item_new_path, method: :get %>
        <% end %>
      </div>
      
      <div class='items-pack'>
        <% @items.each do |item| %>
          <div class='items'>
            
            <h3 class='item-block name'>
              <%= link_to item.name, store_item_path(item), method: :get %>
            </h3>

            <div class='item-block'>
              <% if item.avatar.attached? %>
                <%= image_tag item.avatar, height: '120px' %>
                <hr>
              <% end %>
            </div>

            <div class='item-block'>
              <div class='item label'>
                <%= t('store.item_desc') %>:
              </div>
              <div class='item description'>
                <%= item.description %>
              </div>
            </div>

            <div class='item-block'>
              <b class='item label'>
                <%= t('store.price') %>:
              </b>
              <i class='item description'>
                <%= item.price.round(2) %> <%= t('store.currency') %>.
              </i>
            </div>

            <div class='item-block'>
              <% if can? :update && :destroy, :item %>
                <div class='item change'>
                  <%= link_to t('store.change_item'), store_path(item), method: :get %>
                </div>
                <div class='item delete'>
                  <%= link_to t('store.delete_item'), store_item_path(item), method: :delete %>
                </div>
              <% end %>
            </div>

            <div class='item-block'>
              <% if can?(:create && :destroy, :order) && @user.id != item.user_id %>
                <div class='item-buttons'>
                  <div class='item add-to-cart'>
                    <%= button_to '', { controller: :order, action: :create, id: item } %>
                  </div>
                  <div class='item delete-from-cart'>
                    <%= button_to '', { controller: :order, action: :destroy, id: item }, method: :delete %>
                  </div>
                </div>
              <% end %>        
            </div>

          </div>
        <% end %>
      
      </div>
    </div>

  </body>
</html>