<!DOCTYPE html>
<html>
  <body>
    <%= render partial: 'plug_in/navigation' %>
    <% if @user && @user.role == 'Продавец' %>
      <%= button_to 'Добавить товар', new_product_path, method: :get %><br>
    <% end %>
      
      <% @products.each do |product| %>
        <div class='form-control'>
          
          <h4>
            <%= link_to product.name, product_path(product), method: :get %>
          </h4>

          <% if product.avatar.attached? %>
            <%= image_tag product.avatar, width: '120px' %><br>
          <% end %>

          <b>
            Описание товара:
          </b><br>
          <i>
            <%= product.description %><br>
          </i>
          
          <b>
            Цена:
          </b>
          <i>
            <%= product.price %>
          </i>
          <br>
          <% if @user && product.seller_id == @user.id %>
            <%= link_to 'Изменить', edit_product_path(product), method: :get %>
            <%= link_to 'Удалить', product, method: :delete %>
          <% end %>
        </div>        
      <% end %>
      

  </body>
</html>