<!DOCTYPE html>
<html>
  <body>
    <%= render partial: 'plug_in/navigation' %>
    <%= button_to 'Добавить товар', new_product_path, method: :get %><br>
    <table>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= button_to product.name, product_path(product), method: :get %></td>
            <td><%= link_to 'Изменить', edit_product_path(product), method: :get %></td>
            <td><%= link_to 'Удалить', product, method: :delete %></td>
          </tr>
          <tr>
            <td>
              Описание товара:
              <%= product.description %><br>
              Цена:
              <%= product.price %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>