<!DOCTYPE html>
<html>
  <body>
    <%= render partial: 'plug_in/navigation' %>

    <%= form_with url: session_sign_in_path do |f| %>
      
      <% if flash.present? %>
        <% flash.each do |name, message| %>
          <%= message %>
        <% end %>
      <% end %>

      <ul>
        <li>
          Почта
          <%= f.email_field :email %>
        </li>
        <li>
          Пароль
          <%= f.password_field :password %>
        </li>
        <li>
          <%= f.submit 'Подтвердить' %>
        </li>
      <ul>
    <% end %>

  </body>
</html>