<!DOCTYPE html>
<html>
  <body>
    <%= render partial: 'plug_in/navigation' %>
    
    <div class='d-flex justify-content-center'>
      <%= form_with url: session_sign_in_path do |f| %>

        <% if flash.present? %>
          <% flash.each do |name, message| %>
            <div class='alert alert-danger mb-3'> 
              <%= message %>
            </div>
          <% end %>
        <% end %>  
                  
        <div class='mb-3'>
          <%= f.email_field :email, placeholder: 'E-mail'%>
        </div>
          
        <div class='mb-3'>
          <%= f.password_field :password, placeholder: 'Пароль'%>
        </div>

        <%= f.submit 'Подтвердить', class: 'btn btn-primary' %>
      <% end %>
    </div>
  
  </body>
</html>