<!DOCTYPE html>
<html>
  <body>
    
    <div class='session-sign-in'>
      <%= form_with url: session_sign_in_path do |f| %>
        
        <div class='session heading'>
          <%= t('session.sign_in.authentication') %>
        </div>
        
        <% if flash.present? %>
          <div class='session danger'>
            <%= flash.alert %>
          </div>
        <% end %>

        <div class='session field'>
          <%= f.email_field :email, placeholder: 'E-mail' %>
        </div>
          
        <div class='session field'>
          <%= f.password_field :password, placeholder: t('session.sign_in.placeholder_password') %>
        </div>

        <div class='session btn'>
          <%= f.submit t('session.sign_in.log_in') %>
        </div>
    <% end %>
    </div>
  
  </body>
</html>