<!DOCTYPE html>
<html>
  <body>

    <div class='session-sign-up'>
      <%= form_for @user, url: session_sign_up_path do |f| %>

        <div class='session heading'>
          <%= t('session.sign_up.registration') %>
        </div>

        <div class='session-section'>
          <%= f.label t('session.sign_up.name') %>*
          <div class='session danger'>
            <%= @user.errors.messages[:name][0] if @user.errors.any? %>
          </div>
          <div class='session field'>
            <%= f.text_field :name %>
          </div>
        </div>

        <div class='session-section'>
          <%= f.label t('session.sign_up.last_name') %>*
          <div class='session danger'>
            <%= @user.errors.messages[:surname][0] if @user.errors.any? %>
          </div>
          <div class='session field'>
            <%= f.text_field :surname %>
          </div>
        </div>

        <div class='session-section'>
          <%= f.label t('session.sign_up.email') %>*
          <div class='session danger'>           
            <%= @user.errors.messages[:email][0] if @user.errors.any? %>
          </div>
          <div class='session field'>
            <%= f.email_field :email %>
          </div>
        </div>

        <div class='session-section'>
          <%= f.label t('session.sign_up.role') %>*
          <div class='session danger'>
            <%= @user.errors.messages[:role][0] if @user.errors.any? %>
          </div>
          <div class='session field'>
            <%= f.select :role, ['', t('session.roles.seller'), t('session.roles.customer')] %>
          </div>
        </div>
        
        <div class='session-section'>
          <%= f.label t('session.sign_up.birthday') %>*
          <div class='session danger'>
            <%= @user.errors.messages[:birthday][0] if @user.errors.any? %>
          </div>
          <div class='session field'>    
            <%= f.date_field :birthday %>
          </div>
        </div>
       
        <div class='session-section'>
          <%= f.label t('session.sign_up.password') %>*      
          <div class='session danger'>
            <%= @user.errors.messages[:password][0] if @user.errors.any? %>
          </div>
          <div class='session field'>
            <%= f.password_field :password %>
          </div>
        </div>

        <div class='session-section'>
          <%= f.label t('session.sign_up.password_confirmation') %>
          <div class='session danger'>
            <%= @user.errors.messages[:password_confirmation][0] if @user.errors.any? %>
          </div>
          <div class='session field'>     
            <%= f.password_field :password_confirmation %>
          </div>
        </div>

        <%= f.hidden_field :registration_time, { :value => Time.now.strftime("%H:%M:%S, %d.%m.%Y") } %>

        <div class='session btn'>
          <%= f.submit t('session.sign_up.submit') %>
        </div>

      <% end %>
    </div>
    
  </body>
</html>