<!DOCTYPE html>
<html>
  <body>
    <%= render partial: 'plug_in/navigation' %>

    <%= form_for @user, url: session_sign_up_path do |f| %>

      <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
          <%= message %><br>
        <% end %>
      <% end %>

      <ul>
        <li>
          Имя
          <%= f.text_field :name %>
        </li>
        <li>
          Фамилия
          <%= f.text_field :surname %>
        </li>
        <li>
          Почта
          <%= f.email_field :email %>
        </li>
        <li>
          Роль:<br>
          Продавец <%= f.check_box :role, {}, 'Продавец', nil %>
          Покупатель <%= f.check_box :role, {}, 'Покупатель', nil %>
        </li>
        <li>
          Дата раждения
          <%= f.date_field :birthday %>
        </li>
        <li>
          Пароль
          <%= f.password_field :password %>
        </li>
        <li>
          Пароль подтверждение
          <%=f.password_field :password_confirmation %>
        </li>
        <li>
          <%= f.hidden_field :registration_time, { :value => Time.now.strftime("%H:%M:%S, %d.%m.%Y") } %>
        </li>
        <li>
          <%= f.submit 'Подтвердить' %>
        </li>
      <ul>
    <% end %>

  </body>
</html>