<!DOCTYPE html>
<html>
  <body>

    <div class='session-sign-up'>
      <%= form_for @user, url: session_sign_up_path do |f| %>

        <div class='session heading'>
          Регистрация
        </div>

        <div class='session-section'>
          <%= f.label :'Имя *' %>
          <div class='session danger'>
            <%= @user.errors.messages[:name][0] if @user.errors.any? %>
          </div>
          <div class='session field'>
            <%= f.text_field :name %>
          </div>
        </div>

        <div class='session-section'>
          <%= f.label :'Фамилия *' %>
          <div class='session danger'>
            <%= @user.errors.messages[:surname][0] if @user.errors.any? %>
          </div>
          <div class='session field'>
            <%= f.text_field :surname %>
          </div>
        </div>

        <div class='session-section'>
          <%= f.label :'E-mail *' %>
          <div class='session danger'>           
            <%= @user.errors.messages[:email][0] if @user.errors.any? %>
          </div>
          <div class='session field'>
            <%= f.email_field :email %>
          </div>
        </div>

        <div class='session-section'>
          <%= f.label :'Роль *' %>
          <div class='session danger'>
            <%= @user.errors.messages[:role][0] if @user.errors.any? %>
          </div>
          <div class='session field'>
            <%= f.select :role, ['', 'Продавец', 'Покупатель'] %>
          </div>
        </div>
        
        <div class='session-section'>
          <%= f.label :'Дата рождения *' %>
          <div class='session danger'>
            <%= @user.errors.messages[:birthday][0] if @user.errors.any? %>
          </div>
          <div class='session field'>    
            <%= f.date_field :birthday %>
          </div>
        </div>
       
        <div class='session-section'>
          <%= f.label :'Пароль *' %>      
          <div class='session danger'>
            <%= @user.errors.messages[:password][0] if @user.errors.any? %>
          </div>
          <div class='session field'>
            <%= f.password_field :password %>
          </div>
        </div>

        <div class='session-section'>
          <%= f.label :'Подтверждение пароля' %>
          <div class='session danger'>
            <%= @user.errors.messages[:password_confirmation][0] if @user.errors.any? %>
          </div>
          <div class='session field'>     
            <%= f.password_field :password_confirmation %>
          </div>
        </div>

        <%= f.hidden_field :registration_time, { :value => Time.now.strftime("%H:%M:%S, %d.%m.%Y") } %>

        <div class='session btn'>
          <%= f.submit 'Зарегистрироваться' %>
        </div>

      <% end %>
    </div>
    
  </body>
</html>