<!DOCTYPE html>
<html>
  <body>
    <%= render partial: 'plug_in/navigation' %>
    
    <ul>
      <li><%= image_tag @product.avatar, width: '100px' %></li>
      <li><%= @product.name %></li>
      <li><%= @product.kind %></li>
      <li><%= @product.description %></li>
      <li><%= @product.price %></li>
      <li><%= @product.rating %></li>
      <li><%= @product.delivery_time %></li>
      </ul>
  </body>
</html>