<!DOCTYPE html>
<html>
  <header>
  
    <div class='header-nav'>
      <div class='header-item logo'>  
        <%= image_tag 'logo.png', width: '90px', alt: 'logo' %>
      </div>

      <div class='header-item button'>
        <%= link_to t('header.store'), store_root_path %>
      </div>
    
      <% if session[:user_id].present? %>

      <div class='header-item button'>
        <%= link_to t('header.cart'), shopcart_index_path %>
      </div>

      <% end %>
    </div>

    <div class='header-nav'>
      
      <% if session[:user_id].present? %>

      <div class='header-item button'>
        <%= link_to t('header.log_out'), session_logout_path(@user), method: :delete %>
      </div>

      <% else %>

      <div class='header-item button'>
        <%= link_to t('header.log_in'), session_sign_in_path %>
      </div>

      <div class='header-item button'>
        <%= link_to t('header.sign_up'), session_sign_up_path %>
      </div>

      <% end %>

    </div>

  </header>
</html>