<!DOCTYPE html>
<html>
  <header>
  
    <div class='header-nav'>
      <div class='header-item logo'>  
        <%= image_tag 'logo.png', width: '90px', alt: 'logo' %>
      </div>

      <div class='header-item button'>
        <%= link_to 'Магазин', store_root_path %>
      </div>
    
      <% if session[:user_id].present? %>

      <div class='header-item button'>
        <%= link_to 'Корзина', shopcart_index_path %>
      </div>

      <% end %>
    </div>

    <div class='header-nav'>
      
      <% if session[:user_id].present? %>

      <div class='header-item button'>
        <%= link_to 'Выйти из аккаунта', session_logout_path(@user), method: :delete %>
      </div>

      <% else %>

      <div class='header-item button'>
        <%= link_to 'Войти', session_sign_in_path %>
      </div>

      <div class='header-item button'>
        <%= link_to 'Зарегистрироваться', session_sign_up_path %>
      </div>

      <% end %>

    </div>

  </header>
</html>