<!DOCTYPE html>
<html>
  <body>

    <table>
      <tbody>
        <tr>

          <td>
            <%= link_to 'Магазин', market_index_path %>
          </td>

          <% unless session[:user_id] %>

            <td>
              <%= link_to 'Войти', session_sign_in_path %>
            </td>

            <td>
              <%= link_to 'Зарегистрироваться', session_sign_up_path %>
            </td>

          <% else %>
            
            <td>
              <%= link_to 'Корзина', shopcart_index_path %>
            </td>

            <td>
              <%= link_to 'Выйти из аккаунта', session_logout_path(@user), method: :delete %>
            </td>

          <% end %>
        </tr>
      </tbody>
    </table>

  </body>
</html>