<div class='create-comment'>
  <% if @user.present? %>
    <%= form_with url: store_item_comments_path(@item) do |f| %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.hidden_field :comment_time, value: current_time %>
      <%= f.text_field :body %>
      <%= f.submit t('items.show.comments.create_comment') %>
    <% end %>
  <% end %>
</div>

<div class='show-coments'>
  <div class='comments-body'>
    <%= t('items.show.comments.chapter_name') %>:
  </div>
  <% @item.comments.each do |comment| %>
    <div class='comment'>
      <div class='commenter-name'>
        <%= User.find(comment.user_id).name %>
      </div>
      <div class='comment-time'>
        <%= comment.comment_time %>
      </div>
      <div class='comment-body'>
        <%= comment.body %>
      </div>
      <% if @user.present? && comment.user_id == @user.id %>
        <div class='delete-comment'>
          <%= link_to t('items.show.comments.delete_comment'), store_item_comment_path(@item, comment_id: comment.id), method: :delete %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>