<!DOCTYPE html>
<html>
  <body>
    <%= render partial: 'plug_in/navigation' %>
    
    <div class='form-control'>

      <h2>
        <%= @item.name %>
      </h2>

      <% if @item.avatar.attached? %>
        <div class='mb-2'>
          <%= image_tag @item.avatar, width: '250px' %>
        </div>
      <% end %>
      
      <b>
        Категория товара:
      </b>
      <i>
        <%= @item.kind %>
      </i><br>

      <b>
        Описание товара:
      </b>
      <i>
        <%= @item.description %>
      </i><br>
  
      <b>
        Цена товара:
      </b>
      <i>
        <%= @item.price %> руб.
      </i><br>

      <b>
        Время доставки:
      </b>
      <i>
        <%= @item.delivery_time %> дней
      <i><br>

      <% if @user %>
        <% unless item_rates? %>
          <b>
            Оценить товар:
          </b>
          <% ItemRate::RATING.each do |rating| %>
            <%= link_to rating, market_item_item_rate_index_path(@item, item_rating: rating), method: :post %>
          <% end %>
        <% else %>
          <b>
            Вы поcтавили товару оценку:
          </b> 
            <%= item_rates %>
        <% end %>
        <br>
      
        <b>
          Количество пользователей проголосовало:
        </b>
        <%= votes_count %>
      <% end %>
      
  </body>
</html>